/*
*/

.Row {
    display: grid;
    grid-auto-flow: column;
}

.InitColor,
.FinalColor {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
}

.InitColor div div,
.FinalColor div div,
.Column1 div {
    display: grid;
    grid-auto-flow: row;
    font-family: monospace;
    opacity: 0.5;
}

.Column1 {
    display: grid;
    grid-template-columns: min-content auto;
    grid-row-gap: 16px;
}

.Column0 div {
    margin-bottom: 6px;
}

input {
    margin-right: 8px;
}
